/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FFFFFF;
}

#welcome-section {
	background: linear-gradient(170deg, #433c78, #785e3c);
	width: 100vw;
	height: 100vh;
	position: static;
	display: flex;
	font-family: Verdana, Geneva, sans-serif;
	justify-content: center;
	align-items: center;
}

#greeting-container h1{
	color: #2ecc71;
	font-size: 3em;
	font-weight: 600;
}

#greeting-container h2 {
	margin-top: 3%;
	color: #65c6bb;
	font-size: 1.15em;
	line-height: 1.15em;
	text-align: center;
}

#navbar {
	position: fixed;
	background-color: #433c78;	
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	z-index: 55;
}

#nav-link-container {
	height: 100%;
	float: right;
	display: flex;
	align-items: center;
	margin-right: 8%
}

#nav-link-container a {
	color: #00d46a;
	font-size: 1.2em;
	font-weight: 600;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: none;
}

#nav-link-container a:hover {
	color: #7fffd4;
}

.nav-link {
	margin-right: 16%;
}

.nav-link:last-child {
	margin-right: 1%;
}

#projects {
	background-color: #372b91;
}


/* Media Queries */

@media (max-width: 450px) {

	#nav-link-container {
		margin-left: 10%;
		float: left;
	}
	
}

/* #65c6bb */