/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FFFFFF;
}

#welcome-section {
	background: linear-gradient(170deg, #433c78, #785e3c);
	width: 100vw;
	height: 100vh;
	position: static;
	display: flex;
	font-family: Verdana, Geneva, sans-serif;
	justify-content: center;
	align-items: center;
}

#greeting-container h1{
	color: #2ecc71;
	font-size: 3em;
	font-weight: 600;
	text-align: center;
}

#greeting-container h2 {
	margin-top: 3%;
	color: #65c6bb;
	font-size: 1.15em;
	line-height: 1.15em;
	text-align: center;
}

#greeting-container h4{
	margin-top: 3%;
	line-height: 1.15em;
	text-align: center;
}

#navbar {
	position: fixed;
	background-color: #433c78;
	border-top: 8px solid #433c78;	
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	z-index: 55;
}

#nav-link-container {
	height: 100%;
	float: right;
	display: flex;
	align-items: center;
	margin-right: 8%
}

#nav-link-container a {
	color: #00d46a;
	font-size: 1.2em;
	font-weight: 600;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: none;
}

#nav-link-container a:hover {
	color: #7fffd4;
}

.nav-link {
	margin-right: 16%;
}

.nav-link:last-child {
	margin-right: 1%;
}

#projects {
	background: linear-gradient(170deg, #78403c, #3c784c);
	position: relative;
	padding-bottom: 15%;
	padding-top: 5%;
	height: 100%;
}

.header-container {
	display: flex;
	position: relative;
	top: 5%;
	width: 100%;
	justify-content: center;

}

#html-header {
	color: #ecf0f1;
	font-size: 2em;
}

#project-tile-container {
	margin-top: 10%;
	height: 75%;
	width: 75%;
	display: grid;
	padding-left: 17%;
	grid-template-columns: repeat(3, minmax(100px, 250px));
	grid-template-rows: repeat(2, minmax(200px, 250px));
	grid-gap: 10%;
	justify-items: center;
	align-items: center;
}

.project-tile {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: orange;
	border: 2px solid black;
	padding: 5%;
	border-radius: 10%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.project-link {
	text-decoration: none;
	font-size: 2em;
}


#github-link-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 10%;
}

#profile-link {
	font-size: 2.7em;
	color:  #00e0e0;
	text-decoration: none;
}

#github-link-container a:hover {
	color:  #00ff00;
	font-size: 2.8em;
}


/* Media Queries */

@media (max-width: 450px) {

	#nav-link-container {
		margin-left: 10%;
		float: left;
		font-weight: 600;
	}
	
	.project-link {
		font-size: 0.8em;
	}	
	
}

/* #65c6bb */